<div class="container">

      <%= form_tag(password_resets_path, :method => :post, :html => {:class => "form-signin"}) do  %>
        
        <div class="control-group">
                    <div class="input-prepend">
                       
                       <%= text_field_tag :email%>
                    </div>
                </div>

                <%= submit_tag "Reset Password" ,:class => "btn btn-large btn-primary" %>


    <% end %>
    </div>
