
<h3 class="form-signin-heading">Listing Consumers</h3>

<table class="table">
  <tr>
    <th>Name</th>
     <th>Zone</th> 
     <th>Sub zone</th>
    
  </tr>

<% @consumers.each do |consumer| %>
  <tr>
    <td><%= consumer.name %></td>
    <td><%= consumer.zone.zone_name rescue nil %></td>
    <td><%= consumer.sub_zone.name rescue nil %></td>
   
  </tr>
<% end %>
</table>
